*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;

}
:root{
    --color-base-pink:#B52184;
    --color-ground-blue:#343193;
    --color-font-bb:#312D64;

    font-size: 10px;
}

body{
    background: #F9F4FB;
 

}


main{
    margin-inline: center;
}

.capa {
    
    padding: 0 3.2rem 3.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.capa-content {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}


#astro {
    width: 100%;
    height: auto;
    margin: 0 auto 1.7rem;
}

.capa h1{
    font-family: "Mulish", sans-serif;
    color: var(--color-base-pink);
    font-weight: 900;
    font-size: 3.2rem;
}

.capa p {
    flex-direction: column;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 2.0rem;
    line-height: 2.5rem;
    color: var(--color-font-bb);
}

.seta{
    margin: 3.6rem  auto 0;
    display: inline-block;
}

.cards{
    background-color:var(--color-ground-blue);
    width: 100%;
  
    padding: 5.2rem 3.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.9rem;
    align-items: stretch;
}

.card   {
    
    width:auto;
    

    border-radius: 1.9rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
   
    gap: 3.3rem;

    padding: 2.6rem;
  
}

.textcard {
   
    display: grid;
    gap: 1.9rem;


}

.textcard h1{
    font-family: "Mulish", sans-serif;
    color: var(--color-base-pink);
    font-weight: 900;
    font-size: 2.9rem;
}

.textcard p{
    font-family: "Mulish", sans-serif;
    font-size:1.6rem ;
    font-weight: 600;
    color: var(--color-font-bb);


}



form{
    width: 100%;
    
    height: 56.5rem;
    padding: 4.0rem ;



}
fieldset{
    border: none;
    
    
}

legend{
    font-family:"Mulish", sans-serif;
    color: var(--color-base-pink);
    font-weight: 900;
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 2.4rem;
 


}

.input-wrapper{

    display: flex;
    position: relative;
    margin-bottom: 2.4rem;

   

   
}






.input-wrapper img{
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 50%;
    left: 1.4rem;
    transform:translateY(-50%);
    z-index: 2;
}
.input-wrapper input {
    position: relative;
    width: 100%;
    inset: 0;
    padding: 1.4rem;
    padding-left: 5rem;
    border-radius: 1.6rem;
    border: .1rem solid #312D64;


    
    font-family: "Mulish", sans-serif;
    font-size: 1.6rem;
    color: #312D64
    
    
    
    
    
    
}

.input-wrapper input::placeholder{
    
   
    color:#727180;


}

/* input3*/

.input-wrapper-email{

    display: flex;
    position: relative;
    margin-bottom: 2.4rem;

   

   
}

.input-wrapper-email textarea {
    position: relative;
    width: 100%;
    padding: 1.2rem 1.6rem;
    height: 12.6rem;

    inset: 0;
  
   
    
    border-radius: 1.6rem;
    border: .1rem solid #312D64;
   
 

    
    font-family: "Mulish", sans-serif;
    font-size: 1.6rem;
    color: #312D64
        
    
    
    
    
    
}

.input-wrapper input::placeholder{
    
   
    color:#727180;
  
 


}


button{
    border-radius: 16px;
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
    height: 4.5rem;
    width: 15.1rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1.2rem ;
   
    border: none;

   
    font-family:"Mulish", sans-serif;
 
    font-weight: 600;
    color: white;
    font-size: 1.4rem;
    align-items: center;
    text-align: center;


}

    
   





footer{
    background-color:var(--color-ground-blue); 
    width: 100%; 
    height: 7.8rem;
    padding: 3.2rem 1.6rem;
    flex-direction: column;
    text-align: center;

    font-family: "Mulish", sans-serif;
    font-size: 1.9rem;
    color: white
    
        
    
}


/*@midia queries a partir da aqui versão desktop*/

@media (min-width: 1024px){

    .capa {
        flex-direction: row-reverse;
        text-align: left;
        align-items:stretch;
        padding-bottom: 10.3rem;
        padding-inline: 10.9rem;
    }
    
    .capa > * {
        flex: 1;
    }

    .capa-content {
        align-items: flex-start;
        justify-content: space-between;
        height: 39rem;
        align-self: flex-end;
        padding-bottom: 4.5rem;

    }

    #astro {
        width: auto;
        max-height: 90vh;
    }

    .seta {
        margin: 0;
        justify-self: flex-end;
    }

    .cards{
        flex-direction: row;
     

    }
    form{

        max-width: 59.2rem;
        padding-inline: 10.9rem;
    }

    .contact-form {
        background-image: url(./Assets/stars.svg);
        background-repeat: no-repeat;
        background-position: center right;
    }
}